*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Philosopher', sans-serif;
}
.menu-container{
   background-color: rgb(55, 55, 55);
   padding: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
  
}
.logo-pic{
    width: 120px;
    cursor: pointer;

}
.nav-bar{
    list-style: none;
    display: flex;
   
}
.nav-it{
    margin-left: 20px;
    padding: 15px;
    font-size: 18px;
    color: aliceblue;
    text-transform: uppercase;
    cursor: pointer;
    
}
.nav-it:hover{
    color: rgb(44, 161, 161);
    transition: 3ms;
}
