*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Philosopher', sans-serif;

}
body::-webkit-scrollbar{
    display: none;
}
.menu-container{
   background-color: rgb(138, 80, 135);
   padding: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   
  
}
.logo-pic{
    width: 120px;
    cursor: pointer;

}
.nav-bar{
    list-style: none;
    display: flex;
   
}
.nav-it{
    margin-left: 20px;
    padding: 15px;
    font-size: 18px;
    color: aliceblue;
    text-transform: uppercase;
    cursor: pointer;
    
}
.nav-it:hover{
    color: rgb(79, 220, 239);
    transition: 3ms;
}
.bg-img{
    width: 500px;
    /* background-image: cover; */
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:100vh ;
    background-image: url(../images/background.png) , linear-gradient(45deg, rgb(124, 26, 26), rgb(166, 57, 220));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.title{
    font-size: 60px;
    font-weight: 900;
    
}
.disp{
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 27px;
    font-weight: 500;
}
.btn{
    padding: 10px 20px;
    background-color: rgb(136, 17, 221);
    font-weight: 500;
    font-size: medium;
    border: none;
    border-radius: 10px 12px ;
    color: aliceblue;

}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    height: 100vh;
    background-image: url(../images/background.png) , linear-gradient(360deg, rgb(245, 92, 92), rgb(222, 46, 205));
  
}
.ab-title{
    text-align: center;
    padding: 15px;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 300px;
    margin-right: 600px;
    

}
.about-h{
    font-size: 35px;
    padding: 10px;
    font-weight: 600;
}
.about-p{
    margin-top: 15px;
    margin-bottom: 17px;
    font-size: 25px;
    font-weight: 500;
}
.box{
    width: 250px;
    height: 320px;
    box-shadow: 8px 4px 18px rgb(236, 235, 236);
    background-color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
    padding: 20px;
   

}
.icon{
    width: 75px;
   
}
.btn-del{
    padding: 15px 25px;
    background-color: rgb(33, 157, 210);
    font-weight: 500;
    font-size: medium;
    border: none;
    border-radius: 10px 12px ;
    color: rgb(246, 251, 255);
    margin-top: 20px;
}
.service-h{
    font-size: 39px;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 8px;
    color: aliceblue;
}
.service-p{
    font-size: 20px;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 8px;
    color: rgb(159, 155, 208);
}
.service-container{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}
.special{
    background: linear-gradient(45deg,rgb(111, 123, 247),rgb(234, 27, 89));
}
.service-hh{
    font-size: 45px;
    text-align: center;
    font-weight: 700;
    padding-top: 15px;
    bottom: 15px;
}
.link-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
    height:300px;
}
.special-two{
    background: linear-gradient(90deg , black , black);
}